* {
    font-family: sans-serif;
}

body {
    background: whitesmoke;
}

img.banner {
    margin: 5vh auto;
    width: 50vw;
}

div.vbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

div.hbox {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
}

div#navbar {
    position: fixed;
    right: 1vw;
    top: 1vh;
    width: 98vw;
    z-index: 1;
}

.fillScreen {
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.button {
    box-sizing: border-box;
    border: none;
    margin: 10px auto;
    width: 200px;
    height: 44px;
    transition-duration: 0.5s;
    background-color: gainsboro;
    color: black;
    padding: 14px 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.square.button {
    width: 44px;
    aspect-ratio: 1/1;
    padding: 0px;
    font-size: 24px;
    line-height: 0px;
}

#openNavbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

input.button {
    width: 500px;
}

.button:hover,
.button:active {
    background-color: #eff21b;
}

.button:disabled {
    background-color: darkgray;
}
